.wave_top {
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 8.47%,
    2% 9.79%,
    4% 11.52%,
    6% 13.65%,
    8% 16.13%,
    10% 18.96%,
    12% 22.11%,
    14% 25.53%,
    16% 29.21%,
    18% 33.09%,
    20% 37.14%,
    22% 41.32%,
    24% 45.59%,
    26% 49.91%,
    28% 54.23%,
    30% 58.5%,
    32% 62.69%,
    34% 66.75%,
    36% 70.64%,
    38% 74.32%,
    40% 77.75%,
    42% 80.91%,
    44% 83.75%,
    46% 86.26%,
    48% 88.39%,
    50% 90.14%,
    52% 91.49%,
    54% 92.41%,
    56% 92.91%,
    58% 92.97%,
    60% 92.6%,
    62% 91.8%,
    64% 90.58%,
    66% 88.95%,
    68% 86.92%,
    70% 84.52%,
    72% 81.77%,
    74% 78.71%,
    76% 75.35%,
    78% 71.73%,
    80% 67.9%,
    82% 63.89%,
    84% 59.73%,
    86% 55.48%,
    88% 51.17%,
    90% 46.85%,
    92% 42.56%,
    94% 38.35%,
    96% 34.25%,
    98% 30.32%,
    100% 26.58%
  );
  min-height: 100px;
  margin-bottom: -3px;
}
.wave_bottom {
  /* clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 90%,
    2% 89.55%,
    4% 88.19%,
    6% 85.98%,
    8% 82.94%,
    10% 79.16%,
    12% 74.71%,
    14% 69.71%,
    16% 64.26%,
    18% 58.48%,
    20% 52.51%,
    22% 46.49%,
    24% 40.54%,
    26% 34.81%,
    28% 29.42%,
    30% 24.5%,
    32% 20.16%,
    34% 16.5%,
    36% 13.6%,
    38% 11.52%,
    40% 10.32%,
    42% 10.01%,
    44% 10.62%,
    46% 12.12%,
    48% 14.47%,
    50% 17.64%,
    52% 21.54%,
    54% 26.08%,
    56% 31.17%,
    58% 36.69%,
    60% 42.5%,
    62% 48.49%,
    64% 54.51%,
    66% 60.43%,
    68% 66.12%,
    70% 71.43%,
    72% 76.26%,
    74% 80.5%,
    76% 84.04%,
    78% 86.81%,
    80% 88.74%,
    82% 89.8%,
    84% 89.95%,
    86% 89.19%,
    88% 87.55%,
    90% 85.05%,
    92% 81.76%,
    94% 77.75%,
    96% 73.1%,
    98% 67.94%,
    100% 62.36%
  ); */
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 89.85%,
    2% 88.99%,
    4% 87.38%,
    6% 85.07%,
    8% 82.08%,
    10% 78.48%,
    12% 74.34%,
    14% 69.73%,
    16% 64.75%,
    18% 59.49%,
    20% 54.04%,
    22% 48.52%,
    24% 43.03%,
    26% 37.67%,
    28% 32.54%,
    30% 27.75%,
    32% 23.38%,
    34% 19.52%,
    36% 16.24%,
    38% 13.61%,
    40% 11.67%,
    42% 10.46%,
    44% 10%,
    46% 10.31%,
    48% 11.38%,
    50% 13.18%,
    52% 15.68%,
    54% 18.84%,
    56% 22.6%,
    58% 26.87%,
    60% 31.59%,
    62% 36.66%,
    64% 41.98%,
    66% 47.46%,
    68% 52.99%,
    70% 58.45%,
    72% 63.76%,
    74% 68.8%,
    76% 73.49%,
    78% 77.73%,
    80% 81.43%,
    82% 84.54%,
    84% 86.99%,
    86% 88.74%,
    88% 89.74%,
    90% 89.99%,
    92% 89.47%,
    94% 88.2%,
    96% 86.2%,
    98% 83.52%,
    100% 80.19%
  );
  min-height: 100px;
  margin-top: -3px;
}
